.popular-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1/4;
    gap: 4rem;

    .popular-card{
        display: flex;
        justify-content: space-between;
        flex: 1;
        gap: 2rem;
        &__img{
            width: 100%;
            flex: .8;
        }
        &__content{
            flex: 2;
            font-family: $fuentePrincipal;
            h4{
                font-size: 2.6rem;
                font-weight: 900;
                margin: 0;
                color: $colorGris;
            }
            a{
                margin: 0;
                font-size: 1.6rem;
                font-weight: bolder;
                &:hover{
                    color: $colorPrimario;
                }
            }
            p{
                font-size: 1.4rem;

            }
        }
    }
    @include desktop{
        flex-direction: row;
        
    }
}